$phoneWidth: 480px; /* tried to import a global file, it didnt work, just copying it for the sake of time...*/

.TransactionRow,
.TransactionHeaderRow {
    .conversion {
        display: none
    }
    .cellHeader {
        color: gray;
    }
    .amount > .currency {
        margin-left: 0.3em;
    }
    .amount {
        display: grid;
        grid-template-columns: 1fr 6em;
    }
    .amount > .amountNumber {
        text-align: right;
    }

    button.show {
        display: default;
    }
    button.hide {
        display: none;
    }
}

@media (max-width: $phoneWidth) {
    .TransactionHeaderRow.desktop {
        display: none
    }
    .TransactionRow {
        border-radius: 0.8em;
        margin: 0.5em 0.5em;
        padding: 0.5em;
        font-size: 1.2em;
        border: 1px solid darkgreen;

        .header {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .amountHeader {
            margin-top: 0.3em;
        }
        .merchant, .item {
            display: inline-block;
        }
        .amountHeader {
            text-align: right;
        }
        .amount > .currency {
            display: inline-block;
        }
        .conversion {
            display: block
        }
        .desktop {
            display: none;
        }
    }
}
@media (min-width: $phoneWidth) {
    .TransactionHeaderRow {
        padding-bottom: 0.5em;
        color: gray;
    }
    .TransactionRow,
    .TransactionHeaderRow {
        display: grid;
        grid-template-columns: repeat(5, 1fr) 8em;
        grid-template-areas: "merchant item amount currencyPrice total";
        .merchant.desktop {
            grid-area: merchant;
        }
        .item.desktop {
            grid-area: item;
        }
        .amount {
            grid-area: amount;
        }
        .currencyPrice.desktop {
            grid-area: currencyPrice;
        }
        .total {
            grid-area: total;
            text-align: right;
            margin-right: 1em;
        }
        .mobile {
            display: none;
        }
    }
    .TransactionHeaderRow .amount {
        text-align: right;
    }
}
