$phoneWidth: 480px; /* tried to import a global file, it didnt work, just copying it for the sake of time...*/

.Transactions {
    .row {
        .conversion {
            display: none
        }
        .header {
            display: none;
            color: gray;
        }
        .amount > .currency {
            margin-left: 0.3em;
        }
    }

    @media (max-width: $phoneWidth) {
        .desktopHeader {
            display: none;
        }
        .row {
            border-radius: 0.8em;
            margin: 0.5em 0.5em;
            padding: 0.5em;
            font-size: 1.2em;
            border: 1px solid darkgreen; /* XXX */
            .itemHeader + .itemHeader {
                margin-left: 1em;
            }
            .header {
                display: block;
            }
            .secondHeader {
                margin-top: 0.3em;
            }
            .merchant, .item {
                display: inline-block;
            }
            .merchant + .item {
                margin-left: 2%;
            }
            .amount > .currency {
                display: inline-block;
            }
            .currencyPriceDesktop {
                display: none
            }
            .conversion {
                display: block
            }
        }
    }
    @media (min-width: $phoneWidth) {
        padding: 1em 2em 0;
        .desktopHeader {
            padding-bottom: 0.5em;
        }
        .row {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas: "merchant item amount currencyPrice total";
            .merchant {
                grid-area: merchant;
            }
            .item {
                grid-area: item;
            }
            .amount {
                grid-area: amount;
            }
            .currencyPriceDesktop {
                grid-area: currencyPrice;
            }
            .total {
                grid-area: total;
            }
        }
    }
}
