$phoneWidth: 480px; /* tried to import a global file, it didnt work, just copying it for the sake of time...*/

.Transactions {
    .item {
        display: grid;
        // @media (max-width: $phoneWidth) {
        // TODO: mobile
        //     grid-template-columns: 1fr 1fr;
        //     grid-template-rows: auto;
        //     grid-template-areas:
        //     "merchant ."
        //     "item ."
        //     "amount currency"
        //     "currencyPrice ."
        //     "total .";
        //     align-items: center;
        // }
        @media (min-width: $phoneWidth) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: "merchant item amount currency currencyPrice total";
        }

        .merchant {
            grid-area: merchant;
        }
        .item {
            grid-area: item;
        }
        .amount {
            grid-area: amount;
        }
        .currency {
            grid-area: currency;
        }
        .currencyPrice {
            grid-area: currencyPrice;
        }
        .total {
            grid-area: total;
        }
    }
}
